<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display_Students</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/Bootstrap.min.css">

    <link href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css" rel="stylesheet">

<!-- Bootstrap core JavaScript-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Page level plugin JavaScript--><script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>

<script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>
</head>
<body>
    <%- include ('common/nav') %>
    <br><br>
     <h1 align = "center"> Student Records</h1>


     <div class="container">
        <div class="row">
            <div class="col-sm-8 offset-sm-2">
                <table class="table table-primary" id="ram">
                    <thead>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Roll</th>
                        <th>Photo</th>
                    </thead>
                    <tbody>
                        <% record.forEach(function(row) { %>
                            <tr>
                              <td><%= row.id %></td>
                              <td><%= row.name %></td>
                              <td><%= row.roll %></td>
                              <td>
                                <%
                                    var prefix = "staticstudent_image";
                                    var filename = row.photo;
                                    if(filename.startsWith(prefix)){
                                        filename = filename.substring(prefix.length);
                                    }
                                %>
                                <!-- <img src="/static/student_image/<%=row.photo%>"  height="100px" width="100px" alt=""> -->
                                 <img src="/static/student_image/<%=filename%>" height="100px" width="100px" alt="">
                                  <!-- <img src="/static/student_image/<%=row.photo%>" height="100px" width="100px" alt=""> -->
                              </td>
                            </tr>
                          <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


     <script src="/js/Bootstrap.bundle.min.js"></script>
</body>
</html>