<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find Record</title>
</head>
<body>
    <%- include('common/nav') %>
    <h1 align="center">Search record Example</h1>
    <br><br>
    <form action="/search_record" method="POST">
        Enter Human Name : <input type="text" name="name" required placeholder="Enter Human Name">
        <button>Search</button>
    </form>

    <% if(locals.record){ %>
        <h3 align="center" style="color: green;">Record Found</h3>
        <table align="center" border="1" id="ram">
            <thead>
                <th>SNO</th>
                <th>Name</th>
                <th>Aadhar Card</th>
                <th>Address</th>
            </thead>
            <tbody>
                <% record.forEach(function(row) { %>
                    <tr>
                      <td><%= row.id %></td>
                      <td><%= row.name %></td>
                      <td><%= row.Aadharcard %></td>
                      <td><%= row.address %></td> 
                    </tr>
                  <% }); %>
            </tbody>
        </table>
    <%} 
    else if (locals.message){%>
        <h3 align="center" style="color: red;"><%=message %></h3>
    <%}%>
</body>
</html>